.player {
  display: none;
}

.out {
  position: absolute;
}

.in {
  position: absolute;
  background-color: gray;
  line-height: 18px;
  opacity: 0.8;
  width: 90%;
  height: 50%;
  top: 2.3%;
  left: 5%;
  color: white;
  font-family: "Long Cang";
  font-size: 17px;
}

.letter {
  padding: 10px;
}
